<!DOCTYPE html>
<html>
<head>
    <title>Heart Disease Prediction</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <header class="header">
        <a href="#" class="logo"><img src="heart.png" alt="Logo" class="logo"> <i class="fas fa-mug-hot"></i></a>

        <nav class="navbar">
            <a href="/">home</a>
            <a href="#about">about us</a>
            <a href="#events">events</a>
            <a href="#contact">contact us</a>
        </nav>

        <button onclick="window.location.href='test.html';" class="btn btn-primary mt-3">Take A Test</button>
    </header>

    <div class="home">
        <h1>Welcome to Heart Disease Prediction</h1>
        <p>KEEP</p>
        <p class="font-red">YOUR HEART</p>
        <p class="font-red">ALWAYS HEALTHY</p>
        <button class="btn btn-primary mt-3">Read More</button>
        <img src="small_heart.png" class="smallHeart" alt="smallHeart">
        <img src="hand_heart.png" class="Heart" alt="Heart">
    </div>
</body>
</html>