<!DOCTYPE html>
<html>
    <head>
        <title>safe heart</title>
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <script src="script.js"></script>
        <header>
            <div class="header-container">
                <img src="heart.png" alt="Logo" class="logo">
                <p class="centered-text">Heart Disease Prediction</p>
            </div>
        </header>
        <!--4akar f s7eto-->
        <div id="done"></div>
        <div id="download"></div>
    </body>
</html>