<!DOCTYPE html>
<html>
    <head>
        <title>safe heart</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <script src="script.js"></script>
    </head>
    <body>
        <script src="script.js"></script>
        <header class="header">
            <a href="#" class="logo"><img src="heart.png" alt="Logo" class="logo"> <i class="fas fa-mug-hot"></i></a>
    
            <nav class="navbar">
                <a href="/">home</a>
                <a href="#about">about us</a>
                <a href="#events">events</a>
                <a href="#contact">contact us</a>
            </nav>
    
            <a href="/test" class="btn btn-primary mt-3">Take A Test</a>
        </header>
        <div class="home">
            <h1>Good News Your  Heart is Alright</h1>
            <p>TRY TO KEEP</p>
            <p class="font-red">YOUR HEART</p>
            <p class="font-red">ALWAYS HEALTHY</p>
            <p>There is some advices to make your</p>
            <p>heart always healthy :</p>
            <ol>
                <li>Always monitor your BMI</li>
                <li>Exercise Regularly </li>
                <li>sleep at least 8 hours per day</li>
                <li>Avoid Smoking</li>
            </ol>
            <img src="small_heart.png" class="smallHeart" alt="smallHeart">
            <img src="hand_heart.png" class="Heart" alt="Heart">
        </div>
        <div id="done"></div>
        <div id="download"></div>
        <div id="done"></div>
        <div id="download"></div>
    </body>
</html>